<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../components/footer/footer.css">
    %%PAGE_CSS_LINK%%
    <!-- <link rel="stylesheet" href="../pages/battle/battle.css"> -->
    <!-- <link rel="stylesheet" href="../pages/contact/contact.css"> -->

    <!-- <meta http-equiv="refresh" content="3; url=/battle" /> -->

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>%%TAB_TITLE%%</title>
</head>
<body>
    <nav>
        <a href="/">LOGO</a>

        <a href="/battle">Battle</a>
        <a href="/contact">Contact</a>
    </nav>

    <main>