<!DOCTYPE html>
<html lang="en">

<head>
    %%CSS_LINK%%
    <link rel="stylesheet" href="../components/header/header.css">
    <link rel="stylesheet" href="../components/footer/footer.css">
    <link rel="stylesheet" href="../main.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">

    <title>%%TAB_TITLE%%</title>
</head>

<body>

    <header>
        <nav>
            <a href="/">Home</a>
            <a href="/week1">Week1</a>
            <a href="/week2">Week2</a>
            <a href="/week3">Week3</a>
            <a href="/week4">Week4</a>
            <a href="/week5">Week5</a>
            <a href="/week6">Week6</a>
            <a href="/week7">Week7</a>
            <a href="/admin">Admin</a>
        </nav>
    </header>



    <main>
        <h1>%%HEADLINER%%</h1>