#div_time{
    background-color: black;
    color: red;
    padding: 10px;
    text-align: center;
    margin: 0 auto;
    font-size: 50px;
    border-radius: 10px;
    box-shadow: 3px 3px grey;
}

#div_date{
    margin:20px auto;
    padding: 5px 0;
    text-align: center;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 22px;
}

#content{
    background-color: white;
    width: 30%;
    margin: 0 auto;
    padding: 10px;
    border: solid 1px black;
    border-radius: 2px;
}